.new-task-form {
  display: flex;
  max-width: 50rem;
  padding: calc(2 * 0.5rem);
  background-color: #333;
  border-radius: 10px;
  gap: 1rem;
}

.new-task-form:hover {
  background-color: var(--gray-700);
  outline: 2px solid #fff;
}

.new-task-form:hover input {
  background-color: var(--gray-700);
}

.new-task-form label {
  flex-shrink: 0;
  color: #e7dfdf;
  cursor: text;
}

.input-task {
  color: #333;
  font-size: 16px;
  flex: 1;
}

.input-task::placeholder {
  opacity: 0;
}

.input-task:focus {
  outline: none;
  color: #cab2b2;
}

.input-task:focus::placeholder {
  opacity: 1;
}

@media (max-width: 420px) {
  .new-task-form label {
    display: none;
  }

  .input-task {
    color: #cab2b2;
  }

  .input-task::placeholder {
    opacity: 1;
  }  
}