/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
}

:root {
  --bright-blue: oklch(51.01% 0.274 263.83);
  --electric-violet: oklch(53.18% 0.28 296.97);
  --french-violet: oklch(47.66% 0.246 305.88);
  --vivid-pink: oklch(69.02% 0.277 332.77);
  --hot-red: oklch(61.42% 0.238 15.34);
  --orange-red: oklch(63.32% 0.24 31.68);

  --gray-900: oklch(19.37% 0.006 300.98);
  --gray-700: oklch(36.98% 0.014 302.71);
  --gray-400: oklch(70.9% 0.015 304.04);

  --red-to-pink-to-purple-vertical-gradient: linear-gradient(
    180deg,
    var(--orange-red) 0%,
    var(--vivid-pink) 50%,
    var(--electric-violet) 100%
  );

  --red-to-pink-to-purple-horizontal-gradient: linear-gradient(
    90deg,
    var(--orange-red) 0%,
    var(--vivid-pink) 50%,
    var(--electric-violet) 100%
  );
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: #222;
  font-family: "Inter Tight", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
}

h1 {
  margin: 0;
  color: #f5ebeb;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: -0.125rem;
}

h2 {
  color: #f5ebeb;
  font-weight: 400;
  font-size: 1.3rem;
}

p {
  margin: 0;
  color: var(--gray-400);
}

main {
  width: 100%;
  min-height: 100%;
  padding: 1rem;
  display: flex;
  justify-content: center;
  min-width: 310px;
  position: relative;
}

ul {
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

li {
  padding: 15px;
  border-radius: 10px;
  max-width: 50rem;
  color: #e7dfdf;
}

input {
  border: none;
  background-color: #333;
  font-family: inherit;
  font-size: inherit;
}

input[type="checkbox"] {
  cursor: pointer;
}

input[type="checkbox"]:checked {
  accent-color: var(--electric-violet);
}

@media (max-width: 350px) {
  h1 {
    font-size: 2.2rem;
  }
  h2 {
    font-size: 1rem;
  }
}
